<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workshop appointment manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Users</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>Postal Code</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user : ${users}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.city}"></td>
                        <td th:text="${user.postalCode}"></td>
                        <td th:text="${user.country}"></td>
                        <td th:id="${user.userId}">
                            <button class="btn btn-danger delete-user">Delete</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="user_username">Username:</label>
                        <input type="text" class="form-control" id="user_username"/>
                    </div>
                    <div class="form-group">
                        <label for="user_email">Email:</label>
                        <input type="text" class="form-control" id="user_email"/>
                    </div>
                    <div class="form-group">
                        <label for="user_city">City:</label>
                        <input type="text" class="form-control" id="user_city"/>
                    </div>
                    <div class="form-group">
                        <label for="user_postalCode">Postal Code:</label>
                        <input type="text" class="form-control" id="user_postalCode"/>
                    </div>
                    <div class="form-group">
                        <label for="user_country">Country:</label>
                        <input type="text" class="form-control" id="user_country"/>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btn-submit-user">Add a new user</button>
                </form>
            </div>
        </div>
        <br/>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Workshops</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company Name</th>
                        <th>Trademarks</th>
                        <th>City</th>
                        <th>Postal Code</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="workshop : ${workshops}">
                        <td th:text="${workshop.workshopId}"></td>
                        <td th:text="${workshop.companyName}"></td>
                        <td th:text="${workshop.trademarks}"></td>
                        <td th:text="${workshop.city}"></td>
                        <td th:text="${workshop.postalCode}"></td>
                        <td th:text="${workshop.country}"></td>
                        <td th:id="${workshop.workshopId}">
                            <button class="btn btn-danger delete-workshop">Delete</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="workshop_companyName">Company Name:</label>
                        <input type="text" class="form-control" id="workshop_companyName"/>
                    </div>
                    <div class="form-group">
                        <label for="workshop_trademarks">Trademarks:</label>
                        <input type="text" class="form-control" id="workshop_trademarks"/>
                    </div>
                    <div class="form-group">
                        <label for="workshop_city">City:</label>
                        <input type="text" class="form-control" id="workshop_city"/>
                    </div>
                    <div class="form-group">
                        <label for="workshop_postalCode">Postal Code:</label>
                        <input type="text" class="form-control" id="workshop_postalCode"/>
                    </div>
                    <div class="form-group">
                        <label for="workshop_country">Country:</label>
                        <input type="text" class="form-control" id="workshop_country"/>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btn-submit-workshop">Add a new workshop</button>
                </form>
            </div>
        </div>
        <br/>
    </div>
    <br>
    <br>
    <div th:replace="footer :: footer">...</div>
</div>

<script src="/jquery.min.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {

        // Create a user button handler
        $('#btn-submit-user').on("click", function (e) {
            e.preventDefault();
            var username, email, city, postalCode, country;
            username = $('#user_username').val();
            email = $('#user_email').val();
            city = $('#user_city').val();
            postalCode = $('#user_postalCode').val();
            country = $('#user_country').val();
            if ($.trim(username) === "") {
                alert("Username can not be empty");
            } else if ($.trim(email) === "") {
                alert("Email can not be empty");
            } else {
                var data = {};
                data["username"] = username;
                data["email"] = email;
                data["city"] = city;
                data["postalCode"] = postalCode;
                data["country"] = country;
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "user/save",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    timeout: 6000,
                    success: function (data) {
                        if (confirm("User with Id " + data + " saved")) {
                            window.location.reload();
                        }
                    }
                });
            }
        });

        //Delete a user button handler
        $('.delete-user').on("click", function (e) {
            e.preventDefault();

            if (confirm("Are you sure you want to delete user?")) {
                var Id = parseInt($(this).closest("td").attr("id"));

                $.ajax({
                    type: "DELETE",
                    url: "/user/id/" + Id,
                    success: function () {
                        $(".delete-user").closest("td#" + Id).parent("tr").fadeOut("slow", function () {
                            $(".delete-user").closest("td#" + Id).parent("tr").remove();
                        });
                    }
                });
            }
        });

        // Create a workshop button handler
        $('#btn-submit-workshop').on("click", function (e) {
            e.preventDefault();
            var companyName, trademarks, city, postalCode, country;
            companyName = $('#workshop_companyName').val();
            trademarks = $('#workshop_trademarks').val();
            city = $('#workshop_city').val();
            postalCode = $('#workshop_postalCode').val();
            country = $('#workshop_country').val();
            if ($.trim(companyName) === "") {
                alert("Company name can not be empty");
            } else if ($.trim(trademarks) === "") {
                alert("Trademarks can not be empty");
            } else {
                var data = {};
                data["companyName"] = companyName;
                data["trademarks"] = trademarks;
                data["city"] = city;
                data["postalCode"] = postalCode;
                data["country"] = country;
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "workshop/save",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    timeout: 6000,
                    success: function (data) {
                        if (confirm("Workshop with Id " + data + " saved")) {
                            window.location.reload();
                        }
                    }
                });
            }
        });

        //Delete a workshop button handler
        $('.delete-workshop').on("click", function (e) {
            e.preventDefault();

            if (confirm("Are you sure you want to delete workshop?")) {
                var Id = parseInt($(this).closest("td").attr("id"));

                $.ajax({
                    type: "DELETE",
                    url: "/workshop/id/" + Id,
                    success: function () {
                        $(".delete-workshop").closest("td#" + Id).parent("tr").fadeOut("slow", function () {
                            $(".delete-workshop").closest("td#" + Id).parent("tr").remove();
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>